body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PlusJakartaSans, serif;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/background.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 248, 255, 0.8);
  z-index: 0;
}

@font-face {
  font-family: PlusJakartaSans;
  src: url("./fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: PlusJakartaSans-Bold;
  src: url("./fonts/PlusJakartaSans-SemiBold.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
